.container {
  width: 70%;
  margin: 36px auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.category {
  width: 24%;
  padding: 12px;
  border-radius: 12px;
  background-color: #f1f3f5;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  margin-bottom: 24px;
  text-align: center;
  cursor: pointer;
}
.category h4 {
  font-size: 20px;
  font-weight: 500;
  text-wrap: nowrap;
}

@media (max-width: 1240px) {
  .container {
    width: 80%;
  }
  .category {
    width: 30%;
  }
}
@media (max-width: 970px) {
  .container {
    width: 90%;
  }
  .category {
    width: 45%;
  }
}
@media (max-width: 670px) {
  .container {
    width: 100%;
  }
  .category {
    width: 80%;
    margin: 0 auto;
    /* font-size: 14px; */
    margin-bottom: 24px;
  }

  .product-image-title h3 {
    font-size: 16px;
  }
}
